<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>myGovernment</string>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Info</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>About</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>File</key>
			<string>About</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Legal</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>File</key>
			<string>Legal</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Application Settings</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>Autocapitalization</key>
			<string>None</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>IsSecure</key>
			<false/>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>mygov_username</string>
			<key>Title</key>
			<string>MyGovUsername</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>Autocapitalization</key>
			<string>None</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>IsSecure</key>
			<true/>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>mygov_password</string>
			<key>Title</key>
			<string>MyGovPassword</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>Autocapitalization</key>
			<string>None</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>IsSecure</key>
			<false/>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>twitter_username</string>
			<key>Title</key>
			<string>Twitter Username</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>Autocapitalization</key>
			<string>None</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>IsSecure</key>
			<true/>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>twitter_password</string>
			<key>Title</key>
			<string>Twitter Password</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Key</key>
			<string>mygov_community_data_age</string>
			<key>Title</key>
			<string>CommunityData Max Age</string>
			<key>DefaultValue</key>
			<string>Two Days</string>
			<key>Titles</key>
			<array>
				<string>One Day</string>
				<string>Two Days</string>
				<string>Three Days</string>
				<string>Four Days</string>
				<string>Five Days</string>
				<string>Six Days</string>
				<string>One Week</string>
				<string>One Month</string>
				<string>Forever</string>
			</array>
			<key>Values</key>
			<array>
				<integer>86400</integer>
				<integer>172800</integer>
				<integer>259200</integer>
				<integer>345600</integer>
				<integer>432000</integer>
				<integer>518400</integer>
				<integer>604800</integer>
				<integer>2592000</integer>
				<integer>0</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Key</key>
			<string>mygov_autoreload_bills</string>
			<key>Title</key>
			<string>Reload Bill Data</string>
			<key>DefaultValue</key>
			<string>Every Day</string>
			<key>Titles</key>
			<array>
				<string>Never</string>
				<string>Every Day</string>
				<string>Every Week</string>
				<string>Every Month</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>86400</integer>
				<integer>604800</integer>
				<integer>2419200</integer>
			</array>
		</dict>
		<dict>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>Autocapitalization</key>
			<string>None</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>mygov_last_url</string>
			<key>Title</key>
			<string>Home</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
