<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>myGovernment</string>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Application Settings</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>Autocapitalization</key>
			<string>None</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>IsSecure</key>
			<false/>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>mygov_username</string>
			<key>Title</key>
			<string>MyGovUsername</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>Autocapitalization</key>
			<string>None</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>IsSecure</key>
			<true/>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>mygov_password</string>
			<key>Title</key>
			<string>MyGovPassword</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>AutoReloadBillData</string>
			<key>Key</key>
			<string>mygov_autoreload_bills</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>TrueValue</key>
			<string>YES</string>
			<key>FalseValue</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>Autocapitalization</key>
			<string>None</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>mygov_last_url</string>
			<key>Title</key>
			<string>Home</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Info</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>About</string>
			<key>File</key>
			<string>About</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Legal</string>
			<key>File</key>
			<string>Legal</string>
		</dict>
	</array>
</dict>
</plist>
